:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "mkds";
  src: url("./mkds.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e3f44;
}

header {
  font-size: 5em;
  line-height: 1.1;
  font-family: "mkds";
  color: #fbb300;
}

.movie_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
}

.movie-tile {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  aspect-ratio: 27/40;
}

.movie {
  color: #c8c0d2;
  background-color: #a1242c;
  border-radius: 10px;
  padding: 1em;
  border: 2px solid #fbb300;
  cursor: pointer;
}

.detail_holder {
  display: flex;
  color: #c8c0d2;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.details {
  background-color: #a1242c;
  border-radius: 10px;
  border: 2px solid #fbb300;
}

.details h1 {
  font-size: 2.5em;
}

.details p {
  margin: 1em;
}

.sub_details {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.back-btn {
  background-color: #a1242c;
  display: inline-block;
  padding: .5em 1.5em;
  border-radius: 10px;
  border: 2px solid #fbb300;
  cursor: pointer;
}